

:root {
  --default-background-color : #26272b;
  --default-text-color : #f4f4f4;

  --disabled-background-color : lightgrey;
  --disabeld-text-color : black;
}

*
{
  box-sizing : border-box;
  margin : 0;
  padding : 0;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background : var(--default-background-color);
  color : var(--default-text-color);
}

a
{
  color : #f4f4f4;
  text-decoration : none;
}

h1 
{
  text-align : center;
  margin : 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


