.container
{
  max-width : 1140px;
  margin : auto;
}

.heading
{
  display : flex;
  justify-content : space-between;
  align-items : center;
  background-color : #242421;
  box-shadow : 0px 0px 12px #18191b; 
  border-radius : 8px;
  margin-left : 1rem;
  margin-right : 1rem;
  padding : 0.7rem 1rem;
  font-weight : 700;
}

.coin-name
{
  margin-left : -4rem;
}

.coin-row
{
  display : flex;
  justify-content : space-between;
  align-items : center;
  background-color : #26272b;
  box-shadow : 0px 0px 12px #18191b; 
  border-radius : 8px;
  margin : 2rem 1rem;
  padding : 0.7rem 1rem;
}

.coin-row:hover
{
  transform : scale(1.05);
  cursor : pointer;
  transision : .6s ease-in-out
}

img
{
  height: 40px;
  width : auto;
  margin-right : 12px;

}

.img-symbol 
{
  display : flex;
  align-items : center;
}


@media only screen and (max-width : 850px)
{
  .hide-mobile
  {
    display : none;
  }
}


.input-wrapper {
  display : flex;
  background : white;
  border-radius : 20px;
  height : max-content;
  align-items : center;
  justify-content : center;

  margin : 2% 10%;
  height : 100%;
}


#search-icon {
  color : black;
  font-size : 1.25rem;
}

#search-icon:hover {
  cursor : pointer;
}

.input-wrapper input {
  margin-left : 1%;
  background-color : transparent;
  border : none;
  height : 100%;
  width : 93%;
  font-size : 1.25rem;
  padding : 0.5rem 0rem;
}


.input-wrapper input:focus {
  outline : none;
}

<<<<<<< HEAD

.pagination {
  display : flex;
  align-items : center;
  margin-bottom : 1%;
}

.elements-view {
  width : 100%;
}

.elements-per-page {
  margin-left : 2rem;
}

.change-page-number {
  display : flex;
  margin-left : auto;
  margin-right : 1rem;
  align-items : center;
  height : max-content;
}

.change-page-number * {
  font-size : 1.25rem;
  border-style : solid;
  border-width : thin;
  height : 100%;
}

.change-page-number input {
  border-style : none;
  background : none;
  text-align : center;
  color : white;
  width : max-content;
}

.change-page-number input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1; /* Firefox */
}

.change-page-number input:::-ms-input-placeholder { /* Edge 12 -18 */
  color: white;
}

.change-page-number input:focus {
  outline : none;
}

.change-page-number input:focus::placeholder {
  color : transparent;
}

.elements-dropdown {
  display:none;
  position:absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  list-style-type : none;
  padding : 0.5rem 2rem;
  background-color : #242421;
  border-radius : 20px;
  float : right;
  text-align : center;
}

.elements-dropdown li {
  padding-top : 0.25rem;
}

.elements-view:hover {
  cursor : pointer;
}

.elements-dropdown li:hover {
  color : red;
  cursor : pointer;
}

.elements-view:hover .elements-dropdown {
  display : block;
  float : left;
  cursor : pointer;
}

.elements-view span {
  font-weight : 900;
}

.buttons {
  display : flex;
}

#load-more-button {
  margin : 2rem 1rem;
  padding : 0.7rem 1rem;
  box-shadow : 0px 0px 12px #18191b;
  width : max-content;
  border-radius : 20px;
  font-weight : bold;
}

#load-less-button {
  margin : 2rem 1rem;
  padding : 0.7rem 1rem;
  box-shadow : 0px 0px 12px #18191b;
  width : max-content;
  border-radius : 20px;
  font-weight : bold;
}

#load-more-button:hover {
  cursor : pointer;
  color : lightblue;
}

#load-less-button:hover {
  cursor : pointer;
  color : lightblue;
}
